@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
}

.input {
    border: none;
    display: flex;
    height: 40px;
    font-family: 'PT Sans', sans-serif;
}

.num {
    border: 1px solid black;
    margin-right: 4px;
    padding: 4px;
    width: 100px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.num:hover {
    border: 2px solid black;
    border-radius: 5px;
}

.title {
    border: none;
    margin-right: 4px;
    padding: 4px;
    width: 400px;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    text-decoration: solid;
}

.author {
    border: none;
    margin-right: 4px;
    padding: 4px;
    width: 300px;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    text-decoration: solid;
}

button {
    text-decoration: solid;
    border: 1px solid black;
    background-color: white;
    align-content: center;
    text-align: center;
    width: 100px;
    font-family: 'PT Sans', sans-serif;
}
button:hover {
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-left: 7px;
    text-align: left;
  }

.tools:hover {
    color: green;
}

.big {
    font-size: 25px;
}

textarea {
    border: none;
    resize: none;
}
textarea:focus {
    border: white;
}


tr {
    border: 2px solid black;
    border-radius: 5px;
}
tr:hover {
    border: 2px dashed red;
}

td {
    border: 2px solid black;
    border-radius: 5px;
}
td:hover {
    border: 2px dashed red;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}